<div class="contentTitle clearfix">
  <h3>物品管理</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control searchBox" name="search_box" id="search_box" data-targetData="brochure" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3 searchBtn">查询</button>
  </div>
</div>

<div class="operation-menu">
  <button type="button" class="btn btn-primary" onclick="AddBrochure.view.show()">添加物品</button>
</div>

<div class="table-content tab-content">
  <div class="tab-pane active" id="Brochure-table-container">
    <table class="table table-bordered table-hover">
    </table>
  </div>
  <nav style="text-align: center">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </nav>
</div>
<%-include('/components/modal/modal',{type:"Admin.Inventory.History"})%>
  <%-include('/components/modal/modal',{type:"Admin.BrochureAdmin.Add"})%>
    <%-include('/components/modal/modal',{type:"Admin.BrochureAdmin.Edit"})%>
      <%-include('/components/modal/modal',{type:"Common.Delete"})%>
        <%-include('/components/modal/modal',{type:"Common.Supply"})%>
          <script>
            //载入物品操作
            var table_init = function() {
              var templateOpts = tableStructures.Admin.Bruchure.Inventory
              new table().loadFromTemplateJson(apiConfig.brochure.Top(1000), templateOpts).to("#Brochure-table-container")
            }

            //删除物品记录操作
            var del = function(rid) {
              window._target = apiConfig.brochure.Get(rid)
              BrochureAdmin.view.delete.show()
            }
            var deleteSubmit = function() {
              if (window._target) {
                var id = window._target["_id"]
                apiConfig.brochure.Delete(id)
                BrochureAdmin.view.delete.hide()
              }
              table_init()
            }
            //补充物品数量操作
            var supply = function(rid) {
              window._target = apiConfig.brochure.Get(rid)
              BrochureAdmin.view.supply.show()
            }
            //查看出入库历史操作
            var History = function(rid) {
              BrochureAdmin.view.history.show()
            }
            //编辑操作
            var edit = function(rid) {
              window._target = apiConfig.brochure.Get(rid)
              autoComplateInfo(window._target, "#edit_Brochure")
              BrochureAdmin.view.edit.show()
            }
            var search = function() {
              var keyword = filterXSS($("input.searchBox").val().trim())
              if ("" == keyword) {
                table_init()
                return
              }
              var templateOpts = tableStructures.Admin.Bruchure.Inventory
              var result = apiConfig.brochure.Search(keyword)
              new table().loadFromTemplateJson(result, templateOpts).to("#Brochure-table-container")
            }
          </script>
