<div class="contentTitle clearfix">
  <h3>物品管理</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control searchBox" name="search_box" id="search_box" data-targetData="brochure" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3 searchBtn">查询</button>
  </div>
</div>

<div class="operation-menu">
  <button type="button" class="btn btn-primary" onclick="BrochureAdmin.view.add.show()">添加物品</button>
</div>

<div class="table-content tab-content">
  <div class="tab-pane active" id="Brochure-table-container">
    <table class="table table-bordered table-hover">
    </table>
  </div>
</div>
<%-include('/components/modal/modal',{type:"Admin.Inventory.History"})%>
  <%-include('/components/modal/modal',{type:"Admin.BrochureAdmin.Add"})%>
    <%-include('/components/modal/modal',{type:"Admin.BrochureAdmin.Edit"})%>
      <%-include('/components/modal/modal',{type:"Common.Delete"})%>
        <%-include('/components/modal/modal',{type:"Common.Supply"})%>
          <script>
            //载入物品操作
            var table_init = function() {

              generateTableWithPageHelper({
                target: "#Brochure-table-container",
                templateOpts: tableStructures.Admin.Bruchure.Inventory,
                counter: apiConfig.brochure.Count(),
                datasourceAPI: apiConfig.brochure.Paging,
                options: {}
              })

            }

            //删除物品记录操作
            var Delete = function(rid) {
              window._target = apiConfig.brochure.Get(rid)
              BrochureAdmin.view.delete.show()
            }
            var deleteSubmit = function() {
              if (window._target) {
                var id = window._target["_id"]
                var result = apiConfig.brochure.Delete(id)
                if (result == true) {
                  new MessageAlert("删除成功", MessageAlert.Status.SUCCESS)
                } else {
                  new MessageAlert("添加失败", MessageAlert.Status.EXCEPTION)
                }
                BrochureAdmin.view.delete.hide()
              }
              table_init()
            }
            //补充物品数量操作
            var supply = function(rid) {
              window._target = apiConfig.brochure.Get(rid)
              BrochureAdmin.view.supply.show()
            }
            //查看出入库历史操作
            var History = function(bid) {
              BrochureAdmin.view.history.show(bid)
            }
            //编辑操作
            var edit = function(rid) {
              window._target = apiConfig.brochure.Get(rid)
              autoComplateInfo(window._target, "#edit_Brochure")
              BrochureAdmin.view.edit.show()
            }
            var search = function() {
              var keyword = filterXSS($("input.searchBox").val().trim())
              if ("" == keyword) {
                table_init()
                return
              }
              generateTableWithPageHelper({
                target: "#Brochure-table-container",
                templateOpts: tableStructures.Admin.Bruchure.Inventory,
                counter: apiConfig.brochure.Search({keyword:keyword}).length,//TODO
                datasourceAPI: apiConfig.brochure.Search,
                options: {
                  keyword: keyword
                }
              })
            }
          </script>
