<div class="contentTitle clearfix">
  <h3>物品管理</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control" name="search_box" id="search_box" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3">Query</button>
  </div>
</div>

<div class="operation-menu">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddBrochure">添加物品</button>
</div>

<div class="table-content tab-content">
  <div class="tab-pane active" id="Brochure-table-container">
    <table class="table table-bordered table-hover">
    </table>
  </div>
  <nav style="text-align: center">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </nav>
</div>
<script>
  var CurrentTableList = {
    // "#Brochure-table-container": "./test/admin/Brochure/Inventory.json"
  }
</script>
<%-include('/components/modal/modal',{type:"Admin.Inventory.Detail"})%>
  <%-include('/components/modal/modal',{type:"Admin.BrochureAdmin.Add"})%>
    <%-include('/components/modal/modal',{type:"Admin.BrochureAdmin.Edit"})%>
      <%-include('/components/modal/modal',{type:"Common.Delete"})%>
        <%-include('/components/modal/modal',{type:"Common.Supply"})%>
          <script>
            var BrochureAdmin = function() {
              var templateOpts = {
                "tablename": "goods",
                "hasHeader": true,
                "hasButton": true,
                "buttonPool": ["supplyBtn", "historyBtn", "editBtn", "delBtn"],
                "keyArr": ["id", "key", "key", "prop", "prop", "prop"],
                "data": [
                  ["序列", "物品编号", "物品名称", "物品数量", "供应商", "创建时间"],
                ]
              }
              var dataOrder = ["_id", "_brochurenumber", "_brochurename", "_quantity", "_purposefk", "_createtime"]
              new table().loadFromTemplateJson("/api/brochure/top(100)", templateOpts, dataOrder).to("#Brochure-table-container")
            }
            BrochureAdmin()
            var del = function(rid) {
              $("#delete")
                .modal()
            }
            var supply = function(rid) {
              window.targrt_brochure = GET("/api/brochure/" + rid)
              $("#supply")
                .modal()
            }
            var supplyment = function(rid) {

            }
            var history = function(rid) {
              $("#history")
                .modal()
            }
            var edit = function(rid) {
              $("#edit")
                .modal()
            }
          </script>
