<script>
  window.currentPos="myOrder"
</script>

<div class="contentTitle">
<h3>我的订单</h3>
</div>
<%-include('/components/searchWapper/searchWapper')%>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{applying:"申请中",finished:"已完成",reject:"拒绝"}})%>
  <div class="operation-menu">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#purchaseRequisition">申领物品</button>
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane active" id="applying">
    </div>
    <div class="tab-pane" id="finished">
    </div>
    <div class="tab-pane" id="reject">
    </div>
    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
<%-include('/components/modal/modal',{type:"purchaseRequisition"})%>
<%-include('/components/modal/modal',{type:"orderDetail"})%>
<%-include('/components/table/table.init.ejs',{container:"#applying",url:"./test/order-table-data.json"})%>
