<div class="contentTitle">
<h3>订单管理</h3>
</div>
<%-include('/components/searchWapper/searchWapper')%>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{todolist:"待办事项",finished:"已完成"}})%>
  <div class="operation-menu">
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane active" id="todolist">
    </div>
    <div class="tab-pane" id="finished">
    </div>
    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
<%-include('/components/modal/modal',{type:"orderDetail"})%>
<%-include('/components/table/table.init.ejs',{container:"#todolist",url:"./test/order-table-data.json",hasButton:true})%>
<%-include('/components/modal/modal',{type:"delete"})%>
