<div class="contentTitle clearfix">
  <h3>我的订单</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control searchBox" name="search_box" id="search_box" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3 searchBtn">Query</button>
  </div>
</div>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{draft:"草稿箱",applying:"申请中",success:"已完成",rejected:"已拒绝"}})%>
  <div class="operation-menu">
    <button type="button" class="btn btn-primary" onclick="PurchaseRequisition.view.create()">申领物品</button>
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane active" id="draft">
    </div>
    <div class="tab-pane" id="applying">
    </div>
    <div class="tab-pane" id="success">
    </div>
    <div class="tab-pane" id="rejected">
    </div>

    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
  <%-include('/components/modal/modal',{type:"Dealer.PurchaseRequisition.PurchaseRequisition"})%>
    <%-include('/components/modal/modal',{type:"Dealer.Order.Detail"})%>
      <%-include('/components/modal/modal',{type:"Common.Submit"})%>
        <%-include('/components/modal/modal',{type:"Common.Delete"})%>
          <script>
            //载入我的订单的申请表操作
            var table_init = function() {
              window.__PurchaseRequisitionItem_Unsave_set = {}
              //申请中table初始化
              var role = Enum.role.DEALEAR
              var uid = JSON.parse(getCookie('user'))["_id"]
              var status = Enum.prstatus.Progress
              var startRow = 0
              var endRow = 100
              var templateOpts = tableStructures.Dealer.MyOrder.Approving
              new table().loadFromTemplateJson(apiConfig.purchaserequisition.SearchByStatus(role,uid,status,0,100), templateOpts).to("#applying")
              //草稿箱table初始化
              var status = Enum.prstatus.Draft
              var templateOpts = tableStructures.Dealer.MyOrder.Draft
              new table().loadFromTemplateJson(apiConfig.purchaserequisition.SearchByStatus(role,uid,status,0,100), templateOpts).to("#draft")
              //successtable初始化
              var status = Enum.prstatus.Completed
              var templateOpts = tableStructures.Dealer.MyOrder.Success
              new table().loadFromTemplateJson(apiConfig.purchaserequisition.SearchByStatus(role,uid,status,0,100), templateOpts).to("#success")
              //拒绝table初始化
              var status = Enum.prstatus.Rejected
              var templateOpts = tableStructures.Dealer.MyOrder.Rejected
              new table().loadFromTemplateJson(apiConfig.purchaserequisition.SearchByStatus(role,uid,status,0,100), templateOpts).to("#rejected")
            }

            //订单详情操作
            var Detail = function(PRid) {
              PurchaseRequisition.detail(PRid)
            }
            //复制操作
            var copy = function(PRid) {
              PurchaseRequisition.view.copy(PRid)
            }

            var edit = function(PRid) {
              PurchaseRequisition.view.edit(PRid)
              // console.log(6, window.__PurchaseRequisition_tempID, window.__PurchaseRequisitionItem_Unsave_set[window.__PurchaseRequisition_tempID])
            }

            var deleteDraft = function(PRid) {
              PurchaseRequisition.view.delete(PRid)
            }

            var search = function() {
              //TODO search需要API根据不同情况来get
              var keywrod = $("input.searchBox").val()
              var li = $(".tabs").child("li.active") //正在显示的li tab
              var tabname = li.child("a").attr("href").substring(1)
              var templateOpts = tableStructures.Dealer.MyOrder.Draft
              var result = apiConfig.purchaserequisition.Search(keyword)
              switch (tabname) {
                case "draft":
                  break
                case "approving":
                  templateOpts = tableStructures.Dealer.MyOrder.Approving
                  result = apiConfig.purchaserequisition.Search(keyword)
                  break
                case "finished":
                  break
                case "reject":
                  break
              }
              if ("" != keyword) {
                keyword = filterXSS(keywrod.trim())
                console.log(result)
                new table().loadFromTemplateJson(result, templateOpts).to("#applying")
              } else {
                table_init()
              }
            }
          </script>
