<%#
  ComponentsName:formInput
  Description:Bootstrap form input
  Author:Ham
  Required:
    :
  Options:
%>
<div class="form-group">
  <label class="col-sm-2 control-label"
  <%if(locals.id){%>
  for="<%-locals.id%>"
  <%}%>
  ><%-locals.name%>：</label>
  <div class="col-sm-8">
    <input type="<%-locals.type%>"
    class="form-control"
    <%if(locals.id){%>
    name="<%-locals.id%>"
    id="<%-locals.id%>"
    <%}%>
    <%if(locals.placeholder){%>
      placeholder="<%-locals.placeholder%>"
    <%}%>
    <%if(locals.required){%>
      required
    <%}%>
    />
  </div>
  <i class="col-sm-2 input-info"></i>
</div>
