<div class="contentTitle clearfix">
  <h3>我的订单</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control searchBox" name="search_box" id="search_box" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3 searchBtn">查询</button>
  </div>
</div>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{draft:"草稿箱",applying:"申请中",success:"已完成",reject:"已拒绝"}})%>
  <div class="operation-menu">
    <button type="button" class="btn btn-primary" onclick="PurchaseRequisition.view.create()">申领物品</button>
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane active" id="draft">
    </div>
    <div class="tab-pane" id="applying">
    </div>
    <div class="tab-pane" id="success">
    </div>
    <div class="tab-pane" id="reject">
    </div>
  </div>
  <%-include('/components/modal/modal',{type:"Employee.PurchaseRequisition.PurchaseRequisition"})%>
    <%-include('/components/modal/modal',{type:"Dealer.Order.Detail"})%>
      <%-include('/components/modal/modal',{type:"Common.Submit"})%>
        <%-include('/components/modal/modal',{type:"Common.Delete"})%>
          <%-include('/components/table/table.init.ejs')%>
            <script>
              //载入我的订单的申请表操作
              var table_init = function() {
                generateTableWithPageHelper({
                  target: "#applying",
                  templateOpts: tableStructures.Employee.MyOrder.Approving,
                  counter: apiConfig.purchaserequisition.CountByEmployee(getCookie('account'), Enum.prstatus.Progress),
                  datasourceAPI: apiConfig.purchaserequisition.SearchByStatus,
                  options: {
                    role: getCookie("role"),
                    uid: getCookie('account'),
                    status: Enum.prstatus.Progress
                  }
                })
                generateTableWithPageHelper({
                  target: "#draft",
                  templateOpts: tableStructures.Employee.MyOrder.Draft,
                  counter: apiConfig.purchaserequisition.CountByEmployee(getCookie('account'), Enum.prstatus.Draft),
                  datasourceAPI: apiConfig.purchaserequisition.SearchByStatus,
                  options: {
                    role: getCookie("role"),
                    uid: getCookie('account'),
                    status: Enum.prstatus.Draft
                  }
                })
                generateTableWithPageHelper({
                  target: "#success",
                  templateOpts: tableStructures.Employee.MyOrder.Success,
                  counter: apiConfig.purchaserequisition.CountByEmployee(getCookie('account'), Enum.prstatus.Completed),
                  datasourceAPI: apiConfig.purchaserequisition.SearchByStatus,
                  options: {
                    role: getCookie("role"),
                    uid: getCookie('account'),
                    status: Enum.prstatus.Completed
                  }
                })
                generateTableWithPageHelper({
                  target: "#reject",
                  templateOpts: tableStructures.Employee.MyOrder.Rejected,
                  counter: apiConfig.purchaserequisition.CountByEmployee(getCookie('account'), Enum.prstatus.Rejected),
                  datasourceAPI: apiConfig.purchaserequisition.SearchByStatus,
                  options: {
                    role: getCookie("role"),
                    uid: getCookie('account'),
                    status: Enum.prstatus.Rejected
                  }
                })
              }

              //订单详情操作
              var Detail = function(PRid) {
                PurchaseRequisition.detail(PRid)
              }
              //复制操作
              var copy = function(PRid) {
                PurchaseRequisition.view.copy(PRid)
              }

              var edit = function(PRid) {
                PurchaseRequisition.view.edit(PRid)
              }

              var deleteDraft = function(PRid) {
                PurchaseRequisition.view.delete(PRid)
              }
              var search = function() {
                var keyword = filterXSS($("input#search_box").val().trim())
                if ("" == keyword) {
                  table_init()
                  return
                }
                generateTableWithPageHelper({
                  target: "#applying",
                  templateOpts: tableStructures.Employee.MyOrder.Approving,
                  counter: apiConfig.purchaserequisition.CountByEmployee(getCookie('account'), Enum.prstatus.Progress),
                  datasourceAPI: apiConfig.purchaserequisition.SearchByKeywordAndStatus,
                  options: {
                    keyword: keyword,
                    role: getCookie("role"),
                    uid: getCookie('account'),
                    status: Enum.prstatus.Progress
                  }
                })
                generateTableWithPageHelper({
                  target: "#draft",
                  templateOpts: tableStructures.Employee.MyOrder.Draft,
                  counter: apiConfig.purchaserequisition.CountByEmployee(getCookie('account'), Enum.prstatus.Progress),
                  datasourceAPI: apiConfig.purchaserequisition.SearchByKeywordAndStatus,
                  options: {
                    keyword: keyword,
                    role: getCookie("role"),
                    uid: getCookie('account'),
                    status: Enum.prstatus.Draft
                  }
                })
                generateTableWithPageHelper({
                  target: "#success",
                  templateOpts: tableStructures.Employee.MyOrder.Success,
                  counter: apiConfig.purchaserequisition.CountByEmployee(getCookie('account'), Enum.prstatus.Progress),
                  datasourceAPI: apiConfig.purchaserequisition.SearchByKeywordAndStatus,
                  options: {
                    keyword: keyword,
                    role: getCookie("role"),
                    uid: getCookie('account'),
                    status: Enum.prstatus.Completed
                  }
                })
                generateTableWithPageHelper({
                  target: "#reject",
                  templateOpts: tableStructures.Employee.MyOrder.Rejected,
                  counter: apiConfig.purchaserequisition.CountByEmployee(getCookie('account'), Enum.prstatus.Progress),
                  datasourceAPI: apiConfig.purchaserequisition.SearchByKeywordAndStatus,
                  options: {
                    keyword: keyword,
                    role: getCookie("role"),
                    uid: getCookie('account'),
                    status: Enum.prstatus.Rejected
                  }
                })
              }
            </script>
